<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yaneodoo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".GPSTracker"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable"></service>
        <service
            android:name=".GetCurrentGPSService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".GetRealtimeOrderService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".CheckOutBistro"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8ql59j8IKRWbdTDepen2EQCbjCET3guk" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yaneodoo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <activity android:name=".SelectUser"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.ShowCustomerBistroList" />
        <activity android:name=".Customer.ShowCustomerMenuList" />
        <activity android:name=".Customer.ShowCustomerMenuInfo" />
        <activity android:name=".Customer.ShowCustomerOrderForm" />
        <activity android:name=".Customer.ShowCustomerShoppingBasket" />
        <activity android:name=".Customer.MyPageCustomer" />
        <activity android:name=".Customer.MyPageLeaveReview" />
        <activity android:name=".Customer.MyPageOrderMenu" />
        <activity android:name=".Owner.RegisterBistro" />
        <activity android:name=".Owner.RegisterMenu" />
        <activity android:name=".Owner.ShowOwnerOrderList" />
        <activity android:name=".Owner.ShowOwnerBistroList" />
        <activity android:name=".Owner.ShowOwnerMenuList" />
        <activity android:name=".Owner.ShowOwnerMenuInfo" />
        <activity android:name=".Owner.MyPageOwner" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".LoginConfirmed" />
    </application>

</manifest>