<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yaneodoo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Bistroad"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".GPSTracker"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable"></service>
        <service
            android:name=".GetCurrentGPSService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEgKY8pV-4tQjfrFH85tv4DctMFA9HhkU" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yaneodoo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <activity android:name=".SelectUser"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.ShowCustomerBistroList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Customer.ShowCustomerMenuList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Customer.ShowCustomerMenuInfo"
            android:screenOrientation="portrait" />
        <activity android:name=".Customer.ShowCustomerOrderForm"
            android:screenOrientation="portrait"/>
        <activity android:name=".Customer.ShowCustomerShoppingBasket"
            android:screenOrientation="portrait" />
        <activity android:name=".Customer.MyPageCustomer"
            android:screenOrientation="portrait" />
        <activity android:name=".Customer.MyPageLeaveReview"
            android:screenOrientation="portrait"/>
        <activity android:name=".Customer.MyPageCheckReview"
            android:screenOrientation="portrait" />
        <activity android:name=".Owner.RegisterBistro"
            android:screenOrientation="portrait"/>
        <activity android:name=".Owner.RegisterMenu"
            android:screenOrientation="portrait" />
        <activity android:name=".Owner.ShowOwnerOrderList"
            android:screenOrientation="portrait" />
        <activity android:name=".Owner.ShowOwnerBistroList"
            android:screenOrientation="portrait" />
        <activity android:name=".Owner.ShowOwnerMenuList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Owner.ShowOwnerMenuInfo"
            android:screenOrientation="portrait" />
        <activity android:name=".Owner.MyPageOwner"
            android:screenOrientation="portrait" />
        <activity android:name=".ImageDialog"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginConfirmed"
            android:screenOrientation="portrait" />
        <activity android:name=".InfoEdit"
            android:screenOrientation="portrait" />
    </application>

</manifest>